[submodule "dircolors-solarized"]
   path = dircolors/solarized
   url = git://github.com/seebi/dircolors-solarized.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
